*{
  padding: 0;
  mmargin: 0;
}

@mixin h4{
  font-size: 14px;
  color: #008ed6;
  font-weight: bold;
}

@mixin h2{
  font-size: 36px;
  color: #1a1a1a;
}

@mixin font{
  font-size: 18px;
  color: #999999;
  line-height: 26px;
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

header{
  position: absolute;
  width: 100%;
}

.navbar-default {
  background-image: none;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  z-index: 10;
  @include  max-screen(760px){
    background-color: black;
  }
}

.navbar > .container .navbar-brand{
  padding-top: 0;
}

.navbar-brand > img {
  padding-top: 41px;
  @include max-screen(760px){
    padding-top: 20px;
  }
}

.navbar-default .navbar-nav > li > a {
  font-size: 16px;
  padding-top: 43px;
  color: white;
}

.navbar-default .navbar-nav > li > a:after {
  display: block;
  content: "";
  width: 45%;
  height: 2px;
  background-color: transparent;
  margin-top: 12px;
}

.navbar-default .navbar-nav > li > a:before {
  display: block;
  content: "";
  width: 45%;
  height: 2px;
  background-color: transparent;
}

.navbar-default .navbar-nav > li:nth-last-child(2) > a:before{
  position: relative;
  top: 34px;
  left: 28px;
}
.navbar-default .navbar-nav > li:nth-last-child(1) > a:before{
  position: relative;
  top: 34px;
  left: 32px;
}
.navbar-default .navbar-nav > li:nth-last-child(3) > a:before{
  position: relative;
  top: 34px;
  left: 49px;
}
.navbar-default .navbar-nav > li:nth-last-child(4) > a:before{
  position: relative;
  top: 34px;
  left: 24px;
}
.navbar-default .navbar-nav > li:nth-last-child(5) > a:before{
  position: relative;
  top: 34px;
  left: 35px;
}
.navbar-default .navbar-nav > li:nth-last-child(6) > a:before{
  position: relative;
  top: 34px;
  left: 23px;
}

.navbar-default .navbar-nav > li > a:hover:after, .navbar-default .navbar-nav > li > a:hover:before{
  display: block;
  content: "";
  width: 45%;
  height: 2px;
  background-color: #008ed6;
  margin-top: 12px;
  transition: 0.3s;
}

.navbar-default .navbar-nav > li > a:hover:before{
  margin-top: 0;
}

.navbar-default .navbar-nav > li > a:hover{
  color: white;
}
.navbar-default .navbar-nav > li > a:active:hover{
  color: white;
}

.back{
  background-image: url("../img/devices kopia.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 640px;
  padding-top: 162px;
  margin-bottom: 65px;
  @include max-screen(992px){
    height: 850px;
  }
  h4{
    @include h4;
    margin-bottom: 33px;
  }
  h1{
    color: white;
    font-size: 48px;
    margin-bottom: 36px;
    line-height: 50px;
  }
  p {
    @include font;
    max-width: 520px;
    margin-bottom: 67px;
  }
  a {
    font-size: 14px;
    color: white;
    background-color: #008ed6;
    padding: 20px 28px;
    margin-right: 20px;
    border-radius: 5%;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    @include max-screen(992px){
      display: block;
      margin-bottom: 10px;
    }
  }
}

.back a:nth-last-child(1){
  background: none;
  border: solid 1px #454549;
  padding: 19px 30px;
}

.description{
  h4{
    @include h4;
    margin-bottom: 22px;
  }
  h2{
    @include h2;
    margin-bottom: 73px;
  }
  h3 {
    color: #1a1a1a;
    font-size: 24px;
    margin-bottom: 23px;
  }
  p{
    margin-bottom: 76px;
    @include font;
  }
}


.description h2:after, .description h2:before{
  content: "";
  display: block;
  max-width: 20px;
  width: 100%;
  height: 2px;
  background-color: #008ed6;
  position: relative;
  left: 48%;
  margin-top: 43px;
  @include max-screen(767px){
    left: 46%;
  }
  @include max-screen(382px){
    left: 44%;
  }
}

.description h2:before{
  position: relative;
  top: 86px;
  left: 50%;
  @include max-screen(767px){
    top: 84px;
    left: 51%;
  }
  @include max-screen(382px){
    top: 123px;

  }
}

.characteristic {
  border-top: solid 1px #ededed;
  padding: 66px 0 20px;
  img{
    max-width: 510px;
    width: 100%;
  }
  h4{
    @include h4;
    margin-bottom: 24px;
    padding-top: 53px;
  }
  h2{
    @include h2;
    margin-bottom: 31px;
  }
  p {
    @include font;
    margin-bottom: 41px;
  }
}

.characteristic h2:after, .characteristic h2:before{
  content: "";
  display: block;
  max-width: 20px;
  width: 100%;
  height: 2px;
  background-color: #008ed6;
  margin-top: 34px;
}

.characteristic h2:before{
  margin-top: 0;
  position: relative;
  top: 75px;
  left: 22px;
  @include max-screen(432px){
    top: 114px;
  }
}

.characteristic p:nth-child(n+4){
  color: #1b1b1b;
  margin-bottom: 20px;
  i {
    color: #44ace1;
  }
}

.customize {
  background-color: #f2f2f2;
  padding: 45px 0 20px;
  h4{
    @include h4;
    margin-bottom: 24px;
  }
  h2{
    @include h2;
    margin-bottom: 30px;
  }
  p{
    @include font;
  }
  img{
    max-width: 670px;
    width: 100%;
  }
}

.customize h2:after, .customize h2:before{
  content: "";
  display: block;
  max-width: 20px;
  width: 100%;
  height: 2px;
  background-color: #008ed6;
  margin-top: 34px;
}

.customize h2:before{
  margin-top: 0;
  position: relative;
  top: 75px;
  left: 22px;
  @include max-screen(432px){
    top: 114px;
  }
}

.owl_block{
  background-image: url("../img/owl_back.jpg");
  padding: 64px 0 214px;
  background-size: cover;
  h4{
    @include h4;
    margin-bottom: 20px;
  }
  h2{
    @include h2;
    color: white;
    margin-bottom: 96px;
  }
  p{
    color: white;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .image_user{
    width: 60px;
    height: 60px;
    display: inline-block;
    color: #008ed6;
    overflow: hidden;
    border-radius: 50%;
    img {
      display: inline-block;
      width: 60px;
      position: relative;
      right: 15px;
    }
  }
}
.coments{
  display: flex;
  align-items: center;
}

.owl_block .name p:nth-child(1){
  font-size: 16px;
  margin-bottom: 0;
  line-height: 27px;
}
.owl_block .name p:nth-last-child(1){
  font-size: 14px;
  margin-bottom: 0;
  font-weight: bold;
}

.owl_block h2:after, .owl_block h2:before{
  content: "";
  display: block;
  max-width: 20px;
  width: 100%;
  height: 2px;
  background-color: #008ed6;
  position: relative;
  left: 48%;
  margin-top: 35px;
  @include max-screen(767px){
    left: 46%;
  }
  @include max-screen(382px){
    left: 44%;
  }
}

.owl_block h2:before{
  position: relative;
  top: 76px;
  left: 50%;
  @include max-screen(767px){
    top: 76px;
    left: 51%;
  }
}



.owl-dots {
  position: absolute;
  width: 100%;
  bottom: -140px;
  text-align: center;
}


.owl-dot span{
  display: inline-block;
  width: 5px;
  height: 5px;
  background: none;
  border-radius: 100%;
  margin-right: 10px;
  border: solid 1px #4f484a;
}

.owl-dot.active span {
  background-color: white;
  width: 15px;
  height: 15px;
  position: relative;
  top: 5px;
  transition: 0.3s;
  border: none;
}

.action {
  background-color: #15141a;
  padding: 70px 0;
  margin-bottom: 30px;
    h3{
      font-size: 36px;
      color: white;

    }
    a{
      color: white;
      background-color: #008ed6;
      padding: 20px 27px;
      border-radius: 5%;
      margin-right: 20px;
      display: inline-block;
      margin-bottom: 10px;
      text-decoration: none;
      font-size: 14px;

    }
  }

.action a:nth-last-child(2){
  padding: 19px 30px;
  background: none;
  border: solid 1px #444348;
}


.text_info{
  h4{
    @include h4;
    margin-bottom: 22px;
  }
  h2{
    @include h2;
    margin-bottom: 70px;
  }
}

.range ul{
  list-style: none;
  text-align: center;
  border: solid 1px #ecf0f1;
  max-width: 270px;
  width: 100%;
  margin-bottom: 60px;
  @include max-screen(768px){
    max-width: 320px;
    width: 100%;
  }
}


.range div:nth-last-child(3), .range div:nth-last-child(2), .range div:nth-last-child(1), .range div:nth-last-child(4) {
  h3{
    font-size: 60px;
    color: #1a1a1a;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    max-width: 270px;
    width: 100%;
    padding-top: 27px;
    margin-bottom: 0;
    margin-top: 0;
    span{
      font-size: 48px;
      position: relative;
      bottom: 17px;
    }
  }
  h4{
    font-size:24px;
    color: #485460;
    max-width: 270px;
    width: 100%;
    padding: 29px 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    padding: 20px 41px;
    border: solid 1px #ecf0f1;
    color: #008ed6;
    border-radius: 5%;
  }
}

.range li:nth-child(3){
  color: #8c9299;
  max-width: 270px;
  width: 100%;
  background-color: white;
  padding: 19px 40px;
  font-size: 14px;
  text-align: center;
}

.range li:nth-last-child(1){
  padding: 29px 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  max-width: 368px;
  width: 100%;
}
.range li:nth-last-child(3){
  border: solid 1px #ecf0f1;
  font-size: 18px;
  color: #999999;
  margin-bottom: 0;
  padding-bottom: 38px;
  max-width: 270px;
  width: 100%;
  line-height: 25px;

}



.range div ul:hover{
  li:nth-last-child(3){
    h3{
      background-color: #008ed6;
      transition: 0.3s;
      color: white;
    }
    background-color: #008ed6;
    transition: 0.3s;
    color: white;
  }
  a {
    background-color: #008ed6;
    transition: 0.3s;
    color: white;
    border: none;
  }
}