* {
  padding: 0;
  mmargin: 0; }

header {
  position: absolute;
  width: 100%; }

.navbar-default {
  background-image: none;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  z-index: 10; }
  @media screen and (max-width: 760px) {
    .navbar-default {
      background-color: black; } }

.navbar > .container .navbar-brand {
  padding-top: 0; }

.navbar-brand > img {
  padding-top: 41px; }
  @media screen and (max-width: 760px) {
    .navbar-brand > img {
      padding-top: 20px; } }

.navbar-default .navbar-nav > li > a {
  font-size: 16px;
  padding-top: 43px;
  color: white; }

.navbar-default .navbar-nav > li > a:after {
  display: block;
  content: "";
  width: 45%;
  height: 2px;
  background-color: transparent;
  margin-top: 12px; }

.navbar-default .navbar-nav > li > a:before {
  display: block;
  content: "";
  width: 45%;
  height: 2px;
  background-color: transparent; }

.navbar-default .navbar-nav > li:nth-last-child(2) > a:before {
  position: relative;
  top: 34px;
  left: 28px; }

.navbar-default .navbar-nav > li:nth-last-child(1) > a:before {
  position: relative;
  top: 34px;
  left: 32px; }

.navbar-default .navbar-nav > li:nth-last-child(3) > a:before {
  position: relative;
  top: 34px;
  left: 49px; }

.navbar-default .navbar-nav > li:nth-last-child(4) > a:before {
  position: relative;
  top: 34px;
  left: 24px; }

.navbar-default .navbar-nav > li:nth-last-child(5) > a:before {
  position: relative;
  top: 34px;
  left: 35px; }

.navbar-default .navbar-nav > li:nth-last-child(6) > a:before {
  position: relative;
  top: 34px;
  left: 23px; }

.navbar-default .navbar-nav > li > a:hover:after, .navbar-default .navbar-nav > li > a:hover:before {
  display: block;
  content: "";
  width: 45%;
  height: 2px;
  background-color: #008ed6;
  margin-top: 12px;
  transition: 0.3s; }

.navbar-default .navbar-nav > li > a:hover:before {
  margin-top: 0; }

.navbar-default .navbar-nav > li > a:hover {
  color: white; }

.navbar-default .navbar-nav > li > a:active:hover {
  color: white; }

.back {
  background-image: url("../img/devices kopia.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 640px;
  padding-top: 162px;
  margin-bottom: 65px; }
  @media screen and (max-width: 992px) {
    .back {
      height: 850px; } }
  .back h4 {
    font-size: 14px;
    color: #008ed6;
    font-weight: bold;
    margin-bottom: 33px; }
  .back h1 {
    color: white;
    font-size: 48px;
    margin-bottom: 36px;
    line-height: 50px; }
  .back p {
    font-size: 18px;
    color: #999999;
    line-height: 26px;
    max-width: 520px;
    margin-bottom: 67px; }
  .back a {
    font-size: 14px;
    color: white;
    background-color: #008ed6;
    padding: 20px 28px;
    margin-right: 20px;
    border-radius: 5%;
    text-decoration: none;
    text-align: center;
    font-weight: bold; }
    @media screen and (max-width: 992px) {
      .back a {
        display: block;
        margin-bottom: 10px; } }

.back a:nth-last-child(1) {
  background: none;
  border: solid 1px #454549;
  padding: 19px 30px; }

.description h4 {
  font-size: 14px;
  color: #008ed6;
  font-weight: bold;
  margin-bottom: 22px; }
.description h2 {
  font-size: 36px;
  color: #1a1a1a;
  margin-bottom: 73px; }
.description h3 {
  color: #1a1a1a;
  font-size: 24px;
  margin-bottom: 23px; }
.description p {
  margin-bottom: 76px;
  font-size: 18px;
  color: #999999;
  line-height: 26px; }

.description h2:after, .description h2:before {
  content: "";
  display: block;
  max-width: 20px;
  width: 100%;
  height: 2px;
  background-color: #008ed6;
  position: relative;
  left: 48%;
  margin-top: 43px; }
  @media screen and (max-width: 767px) {
    .description h2:after, .description h2:before {
      left: 46%; } }
  @media screen and (max-width: 382px) {
    .description h2:after, .description h2:before {
      left: 44%; } }

.description h2:before {
  position: relative;
  top: 86px;
  left: 50%; }
  @media screen and (max-width: 767px) {
    .description h2:before {
      top: 84px;
      left: 51%; } }
  @media screen and (max-width: 382px) {
    .description h2:before {
      top: 123px; } }

.characteristic {
  border-top: solid 1px #ededed;
  padding: 66px 0 20px; }
  .characteristic img {
    max-width: 510px;
    width: 100%; }
  .characteristic h4 {
    font-size: 14px;
    color: #008ed6;
    font-weight: bold;
    margin-bottom: 24px;
    padding-top: 53px; }
  .characteristic h2 {
    font-size: 36px;
    color: #1a1a1a;
    margin-bottom: 31px; }
  .characteristic p {
    font-size: 18px;
    color: #999999;
    line-height: 26px;
    margin-bottom: 41px; }

.characteristic h2:after, .characteristic h2:before {
  content: "";
  display: block;
  max-width: 20px;
  width: 100%;
  height: 2px;
  background-color: #008ed6;
  margin-top: 34px; }

.characteristic h2:before {
  margin-top: 0;
  position: relative;
  top: 75px;
  left: 22px; }
  @media screen and (max-width: 432px) {
    .characteristic h2:before {
      top: 114px; } }

.characteristic p:nth-child(n+4) {
  color: #1b1b1b;
  margin-bottom: 20px; }
  .characteristic p:nth-child(n+4) i {
    color: #44ace1; }

.customize {
  background-color: #f2f2f2;
  padding: 45px 0 20px; }
  .customize h4 {
    font-size: 14px;
    color: #008ed6;
    font-weight: bold;
    margin-bottom: 24px; }
  .customize h2 {
    font-size: 36px;
    color: #1a1a1a;
    margin-bottom: 30px; }
  .customize p {
    font-size: 18px;
    color: #999999;
    line-height: 26px; }
  .customize img {
    max-width: 670px;
    width: 100%; }

.customize h2:after, .customize h2:before {
  content: "";
  display: block;
  max-width: 20px;
  width: 100%;
  height: 2px;
  background-color: #008ed6;
  margin-top: 34px; }

.customize h2:before {
  margin-top: 0;
  position: relative;
  top: 75px;
  left: 22px; }
  @media screen and (max-width: 432px) {
    .customize h2:before {
      top: 114px; } }

.owl_block {
  background-image: url("../img/owl_back.jpg");
  padding: 64px 0 214px;
  background-size: cover; }
  .owl_block h4 {
    font-size: 14px;
    color: #008ed6;
    font-weight: bold;
    margin-bottom: 20px; }
  .owl_block h2 {
    font-size: 36px;
    color: #1a1a1a;
    color: white;
    margin-bottom: 96px; }
  .owl_block p {
    color: white;
    font-size: 24px;
    margin-bottom: 30px; }
  .owl_block .image_user {
    width: 60px;
    height: 60px;
    display: inline-block;
    color: #008ed6;
    overflow: hidden;
    border-radius: 50%; }
    .owl_block .image_user img {
      display: inline-block;
      width: 60px;
      position: relative;
      right: 15px; }

.coments {
  display: flex;
  align-items: center; }

.owl_block .name p:nth-child(1) {
  font-size: 16px;
  margin-bottom: 0;
  line-height: 27px; }

.owl_block .name p:nth-last-child(1) {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: bold; }

.owl_block h2:after, .owl_block h2:before {
  content: "";
  display: block;
  max-width: 20px;
  width: 100%;
  height: 2px;
  background-color: #008ed6;
  position: relative;
  left: 48%;
  margin-top: 35px; }
  @media screen and (max-width: 767px) {
    .owl_block h2:after, .owl_block h2:before {
      left: 46%; } }
  @media screen and (max-width: 382px) {
    .owl_block h2:after, .owl_block h2:before {
      left: 44%; } }

.owl_block h2:before {
  position: relative;
  top: 76px;
  left: 50%; }
  @media screen and (max-width: 767px) {
    .owl_block h2:before {
      top: 76px;
      left: 51%; } }

.owl-dots {
  position: absolute;
  width: 100%;
  bottom: -140px;
  text-align: center; }

.owl-dot span {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: none;
  border-radius: 100%;
  margin-right: 10px;
  border: solid 1px #4f484a; }

.owl-dot.active span {
  background-color: white;
  width: 15px;
  height: 15px;
  position: relative;
  top: 5px;
  transition: 0.3s;
  border: none; }

.action {
  background-color: #15141a;
  padding: 70px 0;
  margin-bottom: 30px; }
  .action h3 {
    font-size: 36px;
    color: white; }
  .action a {
    color: white;
    background-color: #008ed6;
    padding: 20px 27px;
    border-radius: 5%;
    margin-right: 20px;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 14px; }

.action a:nth-last-child(2) {
  padding: 19px 30px;
  background: none;
  border: solid 1px #444348; }

.text_info h4 {
  font-size: 14px;
  color: #008ed6;
  font-weight: bold;
  margin-bottom: 22px; }
.text_info h2 {
  font-size: 36px;
  color: #1a1a1a;
  margin-bottom: 70px; }

.range ul {
  list-style: none;
  text-align: center;
  border: solid 1px #ecf0f1;
  max-width: 270px;
  width: 100%;
  margin-bottom: 60px; }
  @media screen and (max-width: 768px) {
    .range ul {
      max-width: 320px;
      width: 100%; } }

.range div:nth-last-child(3) h3, .range div:nth-last-child(2) h3, .range div:nth-last-child(1) h3, .range div:nth-last-child(4) h3 {
  font-size: 60px;
  color: #1a1a1a;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  max-width: 270px;
  width: 100%;
  padding-top: 27px;
  margin-bottom: 0;
  margin-top: 0; }
  .range div:nth-last-child(3) h3 span, .range div:nth-last-child(2) h3 span, .range div:nth-last-child(1) h3 span, .range div:nth-last-child(4) h3 span {
    font-size: 48px;
    position: relative;
    bottom: 17px; }
.range div:nth-last-child(3) h4, .range div:nth-last-child(2) h4, .range div:nth-last-child(1) h4, .range div:nth-last-child(4) h4 {
  font-size: 24px;
  color: #485460;
  max-width: 270px;
  width: 100%;
  padding: 29px 0;
  margin-top: 0;
  margin-bottom: 0; }
.range div:nth-last-child(3) a, .range div:nth-last-child(2) a, .range div:nth-last-child(1) a, .range div:nth-last-child(4) a {
  text-decoration: none;
  padding: 20px 41px;
  border: solid 1px #ecf0f1;
  color: #008ed6;
  border-radius: 5%; }

.range li:nth-child(3) {
  color: #8c9299;
  max-width: 270px;
  width: 100%;
  background-color: white;
  padding: 19px 40px;
  font-size: 14px;
  text-align: center; }

.range li:nth-last-child(1) {
  padding: 29px 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  max-width: 368px;
  width: 100%; }

.range li:nth-last-child(3) {
  border: solid 1px #ecf0f1;
  font-size: 18px;
  color: #999999;
  margin-bottom: 0;
  padding-bottom: 38px;
  max-width: 270px;
  width: 100%;
  line-height: 25px; }

.range div ul:hover li:nth-last-child(3) {
  background-color: #008ed6;
  transition: 0.3s;
  color: white; }
  .range div ul:hover li:nth-last-child(3) h3 {
    background-color: #008ed6;
    transition: 0.3s;
    color: white; }
.range div ul:hover a {
  background-color: #008ed6;
  transition: 0.3s;
  color: white;
  border: none; }

/*# sourceMappingURL=style.css.map */
